RewriteEngine On
RewriteBase /SignED_/

# Don't rewrite if it's a real file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect everything to public folder
RewriteRule ^(.*)$ public/index.php?url=$1 [QSA,L]